################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.angular/cache/18.0.1/vite/deps_temp_9cdf7743
/.angular/cache/18.0.1/angular-conduit
/node_modules
